**Problem statement**


You have been hired by the Ministry of Higher Education in the ROK. The company had a lot of

data and data points to various activities and departments including teachers records. They store a lot of the data in the

CSV/Xcel format.

You have been hired to resolve the issue and store this same data in a persistence format as in a SQLite database.

Being a Data Scientist you are, the ministry is relying on your expertise and your thought process.

Based on your experience and reputation of SQLite relational database Management system, you decided to use it in with 

combination with Pandas and Python to do the job.

Your work is to ingest the CSV/Excel datafile, store it in a SQLite database and also be able to display it in a browser 

for the employees and department bosses to use it.

That means you will have to display the results in HTML tables and style it beautifully with CSS.

**Import Libraries**

In [7]:
import pandas as pd
import csv
import sqlite3
import csv

**Read csv data into DataFrame**

In [8]:
df = pd.read_csv('C:\\Users\mnjaa\Downloads\\teacher_by_status_and_county_for_secondary.csv')
df.head()

,COUNTY,School Type,Employment Body,No. of Teachers,County (centroid),Year
0,Baringo,Public,TSC,1172,"(0.669252, 35.946465)",12/31/2014 12:00:00 AM
1,Bomet,Public,TSC,1379,"(-0.726295, 35.298598)",12/31/2014 12:00:00 AM
2,Bungoma,Public,TSC,2946,"(0.749285, 34.640461)",12/31/2014 12:00:00 AM
3,Busia,Public,TSC,1182,"(0.387444, 34.193631)",12/31/2014 12:00:00 AM
4,Elgeyo Marakwet,Public,TSC,1087,"(0.802219, 35.536563)",12/31/2014 12:00:00 AM

**Drop County (Centroid) attribute**

In [9]:
df.drop('County (centroid)', inplace=True, axis=1)
df

,COUNTY,School Type,Employment Body,No. of Teachers,Year
0,Baringo,Public,TSC,1172,12/31/2014 12:00:00 AM
1,Bomet,Public,TSC,1379,12/31/2014 12:00:00 AM
2,Bungoma,Public,TSC,2946,12/31/2014 12:00:00 AM
3,Busia,Public,TSC,1182,12/31/2014 12:00:00 AM
4,Elgeyo Marakwet,Public,TSC,1087,12/31/2014 12:00:00 AM
...,...,...,...,...,...
187,Uasin Gishu,Private,TSC,0,12/31/2014 12:00:00 AM
188,Vihiga,Private,TSC,0,12/31/2014 12:00:00 AM
189,Wajir,Private,TSC,0,12/31/2014 12:00:00 AM
190,West Pokot,Private,TSC,0,12/31/2014 12:00:00 AM
191,Kenya,Private,TSC,0,12/31/2014 12:00:00 AM

In [10]:
df.columns

Index(['COUNTY', 'School Type', 'Employment Body', 'No. of Teachers', 'Year'], dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   COUNTY           192 non-null    object
 1   School Type      192 non-null    object
 2   Employment Body  192 non-null    object
 3   No. of Teachers  192 non-null    int64
 4   Year             192 non-null    object
dtypes: int64(1), object(4)
memory usage: 7.6+ KB

**Connect to SQLite, create dbase & table**

In [13]:
conn = sqlite3.connect('ROKEducation.db')
cursor = conn.cursor()

cursor.execute(''' CREATE TABLE IF NOT EXISTS Teachers (
        COUNTY TEXT NOT NULL,
        School Type TEXT NOT NULL,
        Employment Body TEXT NOT NULL,
        No_of_Teachers INT NOT NULL,
        Year DATETIME NOT NULL)''')

conn.commit()

print("Teachers Table Created")


print("Database created")

Teachers Table Created
Database created

In [17]:
conn = sqlite3.connect('ROKEducation2.db')
cursor = conn.cursor()

cursor.execute(''' CREATE TABLE IF NOT EXISTS Teachers2 (
        COUNTY TEXT NOT NULL,
        School Type TEXT NOT NULL,
        Employment Body TEXT NOT NULL,
        No_of_Teachers INT NOT NULL,
        Year DATETIME NOT NULL)''')

conn.commit()

print("Teachers Table Created")


print("Database created")

Teachers Table Created
Database created

In [18]:
#reading df data to Sql. Table name = Teachers
#if_exist='replace' allows for an all records drop & created anytime the code runs
#index=False (no index is being maintained)

df.to_sql('Teachers2', conn, if_exists='replace', index=False)

**Populate table (Teachers) in ROKEducation db with data from df**

In [14]:
#reading df data to Sql. Table name = Teachers
#if_exist='replace' allows for an all records drop & created anytime the code runs
#index=False (no index is being maintained)

df.to_sql('Teachers', conn, if_exists='replace', index=False)

#**at the point, the Teachers table is populated in SQLite, the code below preps the data for html**

C:\Users\mnjaa\anaconda3\lib\site-packages\pandas\core\generic.py:2653: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

**Prepping input for the webbrowser/html**

In [ ]:
#creating a blank list that will be appended into
tlog = []

#creating a table structure that will be populated by via append from selecting * from the sqlite table

tbl="<tr><td>County</td><td>School Type</td><td>Employment Body</td><td>No. of Teachers</td><td>Year</td></tr>"
tlog.append(tbl)

# Query'ing the sqlite table
cursor.execute("SELECT * FROM Teachers")
#Insert tuple items to html
for y in cursor.fetchall():
        a = "<tr><td>%s</td>"%y[0]
        tlog.append(a)
        b = "<td>%s</td>"%y[1]
        tlog.append(b)
        c = "<td>%s</td>"%y[2]
        tlog.append(c)
        d = "<td>%s</td>"%y[3]
        tlog.append(d)
        e = "<td>%s</td></tr>"%y[4]
        tlog.append(e)

In [19]:
print(tlog)

['<tr><td>County</td><td>School Type</td><td>Employment Body</td><td>No. of Teachers</td><td>Year</td></tr>', '<tr><td>Baringo        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1172</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Bomet          </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1379</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Bungoma        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>2946</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Busia          </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1182</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Elgeyo Marakwet</td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1087</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Embu           </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1491</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Garissa        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>347</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Homa Bay       </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>2069</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Isiolo         </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>180</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kajiado        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>753</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kakamega       </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>3558</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kericho        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1551</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kiambu         </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>4288</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kilifi         </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1081</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kirinyaga      </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1478</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kisii          </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>3863</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kisumu         </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>2213</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kitui          </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>2292</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kwale          </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>710</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Laikipia       </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1029</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Lamu           </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>210</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Machakos       </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>2849</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Makueni        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>2765</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Mandera        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>432</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Marsabit       </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>233</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Meru           </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>2819</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Migori         </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1429</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Mombasa        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>648</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Muranga        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>3455</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nairobi        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>2035</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nakuru         </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>3015</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nandi          </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1473</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Narok          </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>723</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nyamira        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1786</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nyandarua      </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1355</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nyeri          </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>2501</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Samburu        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>288</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Siaya          </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1861</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Taita Taveta   </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>707</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Tana River     </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>183</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Tharaka-Nithi  </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1295</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Trans Nzoia    </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1340</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Turkana        </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>255</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Uasin Gishu    </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1361</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Vihiga         </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>1668</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Wajir          </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>408</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>West Pokot     </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>431</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kenya          </td>', '<td>Public </td>', '<td>TSC    </td>', '<td>72194</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Baringo        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>608</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Bomet          </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1261</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Bungoma        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1745</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Busia          </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>903</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Elgeyo Marakwet</td>', '<td>Public </td>', '<td>SMC    </td>', '<td>454</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Embu           </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>678</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Garissa        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>80</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Homa Bay       </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1566</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Isiolo         </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>31</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kajiado        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>210</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kakamega       </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>2139</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kericho        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1119</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kiambu         </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>882</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kilifi         </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>893</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kirinyaga      </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>508</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kisii          </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1283</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kisumu         </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1062</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kitui          </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1544</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kwale          </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>414</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Laikipia       </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>289</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Lamu           </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>85</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Machakos       </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1405</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Makueni        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1449</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Mandera        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>104</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Marsabit       </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>50</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Meru           </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1470</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Migori         </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1375</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Mombasa        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>175</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Muranga        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>951</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nairobi        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>416</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nakuru         </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1387</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nandi          </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1170</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Narok          </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>472</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nyamira        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>668</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nyandarua      </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>644</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nyeri          </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>640</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Samburu        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>42</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Siaya          </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>1196</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Taita Taveta   </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>300</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Tana River     </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>75</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Tharaka-Nithi  </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>601</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Trans Nzoia    </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>971</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Turkana        </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>144</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Uasin Gishu    </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>766</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Vihiga         </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>863</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Wajir          </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>68</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>West Pokot     </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>368</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kenya          </td>', '<td>Public </td>', '<td>SMC    </td>', '<td>35524</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Baringo        </td>', '<td>Private</td>', '<td>Private</td>', '<td>135</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Bomet          </td>', '<td>Private</td>', '<td>Private</td>', '<td>69</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Bungoma        </td>', '<td>Private</td>', '<td>Private</td>', '<td>122</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Busia          </td>', '<td>Private</td>', '<td>Private</td>', '<td>62</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Elgeyo Marakwet</td>', '<td>Private</td>', '<td>Private</td>', '<td>16</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Embu           </td>', '<td>Private</td>', '<td>Private</td>', '<td>124</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Garissa        </td>', '<td>Private</td>', '<td>Private</td>', '<td>346</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Homa Bay       </td>', '<td>Private</td>', '<td>Private</td>', '<td>171</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Isiolo         </td>', '<td>Private</td>', '<td>Private</td>', '<td>68</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kajiado        </td>', '<td>Private</td>', '<td>Private</td>', '<td>558</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kakamega       </td>', '<td>Private</td>', '<td>Private</td>', '<td>286</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kericho        </td>', '<td>Private</td>', '<td>Private</td>', '<td>110</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kiambu         </td>', '<td>Private</td>', '<td>Private</td>', '<td>870</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kilifi         </td>', '<td>Private</td>', '<td>Private</td>', '<td>439</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kirinyaga      </td>', '<td>Private</td>', '<td>Private</td>', '<td>76</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kisii          </td>', '<td>Private</td>', '<td>Private</td>', '<td>259</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kisumu         </td>', '<td>Private</td>', '<td>Private</td>', '<td>220</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kitui          </td>', '<td>Private</td>', '<td>Private</td>', '<td>81</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kwale          </td>', '<td>Private</td>', '<td>Private</td>', '<td>49</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Laikipia       </td>', '<td>Private</td>', '<td>Private</td>', '<td>176</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Lamu           </td>', '<td>Private</td>', '<td>Private</td>', '<td>29</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Machakos       </td>', '<td>Private</td>', '<td>Private</td>', '<td>582</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Makueni        </td>', '<td>Private</td>', '<td>Private</td>', '<td>193</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Mandera        </td>', '<td>Private</td>', '<td>Private</td>', '<td>50</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Marsabit       </td>', '<td>Private</td>', '<td>Private</td>', '<td>36</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Meru           </td>', '<td>Private</td>', '<td>Private</td>', '<td>229</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Migori         </td>', '<td>Private</td>', '<td>Private</td>', '<td>196</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Mombasa        </td>', '<td>Private</td>', '<td>Private</td>', '<td>770</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Muranga        </td>', '<td>Private</td>', '<td>Private</td>', '<td>261</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nairobi        </td>', '<td>Private</td>', '<td>Private</td>', '<td>1641</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nakuru         </td>', '<td>Private</td>', '<td>Private</td>', '<td>1110</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nandi          </td>', '<td>Private</td>', '<td>Private</td>', '<td>87</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Narok          </td>', '<td>Private</td>', '<td>Private</td>', '<td>65</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nyamira        </td>', '<td>Private</td>', '<td>Private</td>', '<td>52</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nyandarua      </td>', '<td>Private</td>', '<td>Private</td>', '<td>412</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Nyeri          </td>', '<td>Private</td>', '<td>Private</td>', '<td>233</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Samburu        </td>', '<td>Private</td>', '<td>Private</td>', '<td>38</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Siaya          </td>', '<td>Private</td>', '<td>Private</td>', '<td>39</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Taita Taveta   </td>', '<td>Private</td>', '<td>Private</td>', '<td>48</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Tana River     </td>', '<td>Private</td>', '<td>Private</td>', '<td>14</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Tharaka-Nithi  </td>', '<td>Private</td>', '<td>Private</td>', '<td>86</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Trans Nzoia    </td>', '<td>Private</td>', '<td>Private</td>', '<td>89</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Turkana        </td>', '<td>Private</td>', '<td>Private</td>', '<td>96</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Uasin Gishu    </td>', '<td>Private</td>', '<td>Private</td>', '<td>225</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Vihiga         </td>', '<td>Private</td>', '<td>Private</td>', '<td>23</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Wajir          </td>', '<td>Private</td>', '<td>Private</td>', '<td>45</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>West Pokot     </td>', '<td>Private</td>', '<td>Private</td>', '<td>4</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kenya          </td>', '<td>Private</td>', '<td>Private</td>', '<td>10890</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Baringo        </td>', '<td>Private</td>', '<td>TSC    </td>', '<td>0</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Bomet          </td>', '<td>Private</td>', '<td>TSC    </td>', '<td>0</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Bungoma        </td>', '<td>Private</td>', '<td>TSC    </td>', '<td>0</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Busia          </td>', '<td>Private</td>', '<td>TSC    </td>', '<td>0</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Elgeyo Marakwet</td>', '<td>Private</td>', '<td>TSC    </td>', '<td>0</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Embu           </td>', '<td>Private</td>', '<td>TSC    </td>', '<td>0</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Garissa        </td>', '<td>Private</td>', '<td>TSC    </td>', '<td>0</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Homa Bay       </td>', '<td>Private</td>', '<td>TSC    </td>', '<td>0</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Isiolo         </td>', '<td>Private</td>', '<td>TSC    </td>', '<td>0</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kajiado        </td>', '<td>Private</td>', '<td>TSC    </td>', '<td>0</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kakamega       </td>', '<td>Private</td>', '<td>TSC    </td>', '<td>0</td>', '<td>12/31/2014 12:00:00 AM</td></tr>', '<tr><td>Kericho        </td>', '<td>Private</td

**Displaying Table Teachers data in webbrowser**

In [20]:
import webbrowser

 # Create html file
f = open('hrec.html', 'w')

# html docstring
the_html = '''<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta cSharset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ministry of Education</title>
    </head>
    <body>
        <h1>Teacher Records</h1>
        <table style="border: solid; border-spacing: 25px, border-collapse: collapse;">
        <thead><caption><h2> TEACHERS </h2></caption></thead>
        %s
        </table>
        
    </body>
    </html>''' % (tlog)  # from list

# write to html file
f.write(the_html)
    # close file
f.close()

    # Open file in browser
webbrowser.open_new_tab('hrec.html')

True

**Display DF in html/ no SQLite step**

In [22]:
html = df.to_html()
  
# write html to file
text_file = open("index.html", "w")
text_file.write(html)
text_file.close()


# Open file in browser
webbrowser.open_new_tab('index.html')

True